.DS_Store
*.class
java/SFINA/log/*
project.properties
private.properties
SFINA.jar
build/
java/Interface_Mat_Java/InterMaJa/nbproject/private/
java/InterMaJa/nbproject/private/
java/InterMaJa/build/
java/SFINA/dist/lib/*.jar
java/SFINA/nbproject/private/private.xml
java/SFINA/experiments/**/output/
